html,
body {
  margin: 0;
  height: 100%;
}

body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 700px) {
  body {
    align-items: center;
    flex-direction: row;
  }
}


span,
button {
  border-radius: 0.5rem;
  border: 2px solid #aaa;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  padding: 0.75rem 1rem;
  margin: 1rem;
}

button {
  background-color: #eee;
  cursor: pointer;
}

button:active,
button.active {
  border-color: #000;
  background-color: #ddd;
}

span {
  font-weight: bold;
  text-align: center;
}

#startStop.is-playing {
  background-color: #cfc;
}
